/* Custom Stylesheet */
body {
  opacity: 0;
}

h1 {
  margin: 35px 0px;
}

.icon-block {
  padding: 0 15px;
}

.navbar-fixed {
  height: 0px;
}

nav {
  background-color: #4367b8;
  /*background-color: rgba(67,103,184,0);*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  height: 64px;
  line-height: 64px;
}

nav .brand-logo {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
}

nav a.button-collapse,
nav a.button-collapse i {
  height: 64px;
  line-height: 64px;
}

nav ul a i {
  font-size: 2rem;
}

.dropdown-button {
  height: 64px;
}

.dropdown-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

section {
  position: relative;
  background-color: #fff;
  padding-top: 64px;
  -webkit-transform: translate3d(0,0,0);
}

#intro {
  background-color: rgba(67,103,184,1);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 0px;
}

#about {
  z-index: 6;
}

#projects {
  z-index: 6;
}

#us {
  z-index: 6;
}

.profiles {
  padding-bottom: 100px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 0;
  padding-top: 0px;
  opacity: 0;
  color: #fff;
}

footer.page-footer {
  margin: 0px;
  background-color: #607d8b;
  padding: 0px;
}

.footer-main {
  padding-top: 35px;
}

.footer-main h1 {
  margin: 0px;
}

.logo-footer {
  color: #fff;
}

.logo-footer:hover {
  text-decoration: underline;
}

.inline {
  display: inline;
}

.button-more {
  color: #fff;
  position: absolute;
  z-index: 998;
}

.activator:hover {
  cursor:pointer;
}

.light-100 {
  font-weight: 100;
}

.light-200 {
  font-weight: 200;
}

.light-300 {
  font-weight: 300;
}

.light-400 {
  font-weight: 400;
}

.heavy-400 {
  font-weight: 400;
}

.project {
  background-color: #607d8b;
}

.middle {
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-size: 5rem;
}

.slick-dots {
  margin: 0px;
  display: inline-block;
  position: absolute;
  height: 20px;
  line-height: 10px;
  bottom: 0px;
  margin-bottom: 5px;
}

.slick-prev,
.slick-next{
  position: absolute;
}

.slick-dots li {
  /*max-height: 10px;*/
  /*line-height: 10px;*/
  display: inline;
}

.slick-dots li .btn-floating.btn-large {
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 5px;
  background-color: #fff;
}

.slick-dots li .btn-floating.btn-large:hover {
  webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slick-active .btn-floating.btn-large {
  background-color: #ff9800 !important;
}

.page-footer {
  padding-top: 0px;
}

.social {
  font-size: 2.1rem;
  margin: 0px;
  /*padding-top: 50px;*/
  width: 100%;
}

.social a {
  color: #fff;
}

.social a i {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-email:hover,
.btn-email:focus,
.btn-email:active {
  color: #7aa9f7;
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
  color: #e05d4c;
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active {
  color: #e7423c;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  color: #8b9dc3;
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
  color: #789cb9;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  color: #66b4ef;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
  color: #3a91c3;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active {
  color: #669bcf;
}